<div class="row content">
    <div class="col-6">
        <div class="row content-subsection">
            <app-experience class="content-seperator">Experiemce</app-experience>
        </div>  
        <div class="row content-subsection">
            <app-education class="content-seperator">Education</app-education>
        </div> 
        <div class="row content-subsection">
            <app-languages class="content-seperator">Languages</app-languages>
        </div> 
        <div class="row content-subsection">
            <app-achievements>Achievements</app-achievements>
        </div> 
    </div>
    <div class="col-6">
        <div class="row content-subsection">
            <app-projects class="content-seperator">Projects</app-projects>
        </div>  
        <div class="row content-subsection">
            <app-skills class="content-seperator">Skills</app-skills>
        </div> 
    </div>
</div>
