<div class="row">
    <div class="col-6">
        <div class="row">
            <app-experience></app-experience>
        </div>  
        <div class="row">
            <app-education></app-education>
        </div> 
        <div class="row">
            <app-languages></app-languages>
        </div> 
        <div class="row">
            <app-achievements></app-achievements>
        </div> 
    </div>
    <div class="col-6">
        <div class="row">
            <app-projects></app-projects>
        </div>  
        <div class="row">
            <app-skills></app-skills>
        </div> 
    </div>
</div>
