<div class="row">
    <div class="col-6">
        <div class="row">
            <app-experience>Experiemce</app-experience>
        </div>  
        <div class="row">
            <app-education>Education</app-education>
        </div> 
        <div class="row">
            <app-languages>Languages</app-languages>
        </div> 
        <div class="row">
            <app-achievements>Achievements</app-achievements>
        </div> 
    </div>
    <div class="col-6">
        <div class="row">
            <app-projects>Projects</app-projects>
        </div>  
        <div class="row">
            <app-skills>Skills</app-skills>
        </div> 
    </div>
</div>
