.divWrapper{
    border: 2px solid rgb(219, 219, 233);
    padding: 3rem 4rem;
    background-color: white;
    margin-top: 5rem;
    border-radius: 10px;
}

.mybtn{
    border-radius: 50px;
    background-color: #003366;
    color: #fff;
    width: 50%;
    margin-left: 26px;
}

.myTxt{
    border-radius: 50px;
    color: rgb(15, 3, 3);

}
.groupMargin{
    margin: 2rem 0.5rem;
}
.social-media-btn{
    color: #003366;
    border: none;
    border-radius: 50%;
    width: 40px;
    height:40px;
    background-color: white;
    margin: 20px 5px;
}
.mybtn{
    font-size: 16px;
}
.hole{
    height: 100%;
    width: 100%;
   // background-color: #091d6c;

}
a{
    color: #003366;  
}
.wrap{
    background-color: #003366;
}
.text2{
    color: #091d6c;
}