<div class="header-container">
    <span class="profile-info-container">
        <div>BALACHANDRAN SANGEERTHTHAN</div>
        <div>Software Engineer</div>
        <div class="col-3">
            <span>linkedin</span>
            <span>twitter</span>
        </div>
        <div class="col-3">
            <span>website</span>
            <span>github</span>
        </div>
        <div class="col-3">
            <span>email</span>
            <span>phone</span>
        </div>
    </span>
    <span class="profile-picture-container">
        <img class="profile-picture" src="assets/img/sangee.jpg" alt="profile">
    </span>
</div>