.profile-info {
    display: flex;
}

.header-title{
    font-size: xx-large;
    color: #802f36;
}
.profile-info-container{
    font-size: larger;
}

.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


