.resume{
    padding: 1.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    margin: 2rem;
}

.generate-pdf-btn {
    background-color: blue;
    border-radius: 0.5rem;
    padding: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}